    <ul class="nav" ng-hide="vm.authentication.user">
                <li><a href="/"><img class="logo" src="/modules/core/client/img/htmlimg/logoo.png" alt="ebaY++"></a></button>
                <li><a href="/items">Items</a></li>
                <li><a href="/friends">Messages</a></li>
                <li><a href="/me/items">My Items</a></li>
                <li><a href="/me/users">Profile</a></li>
                <div class="container" ng-controller="HeaderController as vm">
        <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
          <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="authentication.signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-sref-active="active">
              <a ui-sref="authentication.signin">Sign In</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
            <li class="dropdown" uib-dropdown>
              <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
                <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                  <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/api/auth/signout" target="_self">Signout</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </ul>
