<body class="page">  
    <aside class="side-bar">
           <h3 class="sidetitle" >Meet the ebaY++ team!</h3>
           <img class="homeimg" src= "/modules/core/client/img/HTMLHOMESLIDE/pic1.JPG">
           &nbsp;
           <p>(front to back)</p>
           <p>Lukas Jimenez-Smith: front-end </p>
           <p>Jared Polonitza: back-end </p>
           <p>Aaron Thompson: back-end</p>
           <p>Braden Ash: ???</p>
           <p>Skye Guegan: bug fixes</p>
           <p>Thanks for your support and remember ebaY++ > ebay!</p>
    </aside>
    <aside class="side-bar2">
        <h3 class="sidetitle" >Start Here!</h3>
        <p>You can navagate this app by using the links on the top navigation bar.</p>
        <p>- The "ebaY++" icon takes you to this page</p>
        <p>- The "Chat" button takes you to an in app messaging room for buyer/seller communication</p>
        <p>- The "Me" drop button takes you to a page that displays your current bids and recent purchases</p>
        <p>- The "Items" drop button takes you to a page that displays current items for sale</p>
        <p>- The "Profile" drop button takes you to a settings page for your personal profile</p>
    </aside>

    <article class= "bulk">
                <h1 class="welcome">Welcome to<img class="title" src="/modules/core/client/img/htmlimg/logoo.png">!</h1>
                <p> ebaY++ is a place you can buy, sell and bid on items.</p>
    </article>


</body>
