<body class="page">  
  &nbsp;  
    <aside class="side-bar">
            <p>You can navagate this app by using the links on the top navigation bar.</p>
            <p>- The "ebaY++" icon takes you to this page</p>
            <p>- The "Items" button takes you to an item search page</p>
            <p>- The "Messages" button takes you to an in app messaging room for buyer/seller communication</p>
            <p>- The "My Items" button takes you to a page that displays your current bids and recent purchases</p>
            <p>- The "Profile" button takes you to a settings page for your personal profile</p>
    </aside>

    <article class= "bulk">
                <h1 class="welcome">Welcome to<img class="title" src="/modules/core/client/img/htmlimg/logoo.png">!</h1>
                <p> ebaY++ is a place you can buy, sell and bid on items.</p>
    </article>

</body>
