<!DOCTYPE html>
<html>
<!--file:///Users/lukasjimenez-smith/Desktop/test.html-->
<!---->
<head> 
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title> ebaY++ </title>
</head>

<body class="page">  
  &nbsp;  
    <aside class="side-bar">
            
    </aside>

    <article class= "bulk">
            <h1 class="welcome">Welcome to ebaY++</h1> 
            <p> ebaY++ is a place you can buy, sell and bid on items!  </p>
    </article>

    <ul class= "foot">
            
    </ul>
</body>

</html> 