td.select-highlight {
  background-color: #e6ffff
}

input.eventtext {
  width: 140px
}

.privateEvent {
  background: red
}
.publicEvent {
  background: green
}
.privateEvent {
  border: red
}
.publicEvent {
  border: green
}
