<section>
  <div class="page-header">
    <h1>{{vm.item._id ? 'Edit Item' : 'New Item'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.item._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.itemForm" class="form-horizontal" ng-submit="vm.save(vm.form.itemForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="itemName">Item Name</label>
          <input name="itemName" type="text" ng-model="vm.item.itemName" id="Item Name" class="form-control" placeholder="Item Name" required autofocus>
          <div ng-messages="vm.form.itemForm.itemName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Item title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="bidPrice">Bid Price</label>
          <textarea name="bidPrice" data-ng-model="vm.item.bidPrice" id="bidPrice" class="form-control" placeholder="Bid Price"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="buyPrice">Buy Price</label>
          <textarea name="buyPrice" data-ng-model="vm.item.buyPrice" id="buyPrice" class="form-control" placeholder="Buy Price"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="removalDate">Removal Date</label><br />
          <input name="removalDate" data-ng-model="vm.item.removalDate" id="date" type="date">
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <textarea name="itemDetails" data-ng-model="vm.item.itemDetails" id="itemDetails" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.item._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
