<section>
  <div class="page-header">
    <h1>Items</h1>
  </div>
  <div class="list-group">
    <label for="filter">Search</label>
    <input id="filter" type="text", name="filter", ng-model="textFilter">
    <div class="error">{{ vm.message }}</div>
    &nbsp;
    <a ng-repeat="item in vm.items | filter: textFilter" ui-sref="items.view({ itemId: item._id })" class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="item.itemName"></span>
        &nbsp;
        Buy Price:
        <span ng-bind="item.buyPrice | currency"></span>
        &nbsp;
        Bid Price:
        <span ng-bind="item.bidPrice | currency"></span>
        &nbsp;
        Expiration Date:
        <span ng-bind="item.removalDate | date"></span>
        &nbsp;
      </small>
    </a>
  </div>
</section>
