<section>
  <div class="page-header">
    <h1>
      Items
      <a class="btn btn-primary pull-right" data-ui-sref="me.items.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <label for="filter">Search</label>
    <input id="filter" type="text", name="filter", ng-model="textFilter">
    <div class="error">{{ vm.message }}</div>
    &nbsp;
    <a ng-repeat="item in vm.items | filter: textFilter" ui-sref="items.view({ itemId: item._id })" class="list-group-item">
      <div>
        <span ng-bind="item.itemName"></span>
      </div>
      <div class="pull-right">
          <img class="itempic"ngf-src="item.itemImageURL" class="img-thumbnail item-picture" ngf-drop>
        </div>
      <small class="list-group-item-text">
        &nbsp;
        <ul class="pull-middle">
       Removal Date:
        <span ng-bind="item.removalDate | date"></span>
          &nbsp;
        </ul>
        <ul class="pull-middle">
          Bid Price:
          <span ng-bind="item.bidPrice | currency"></span>
          &nbsp;
      </ul>
      <ul class="pull-middle">
        Buy Price:
        <span ng-bind="item.buyPrice | currency"></span>
        &nbsp;
      </ul>
      </small>
    </a>
  </div>
</section>
