<section>
  <div class="page-header">
    <h1 ng-bind="vm.item.itemName"></h1>
  </div>

  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.item.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.item.user" ng-bind="vm.item.user.displayName"></span>
      <span ng-if="!vm.item.user">Deleted User</span>
    </em>
  </small>

  <div id= 'itemPageInfo'>
    <label class="itemLabel" for="itemPageInfo">Description</label>
      <div ng-bind="vm.item.itemDetails"></div>
    <label class="itemLabel" for="itemPageInfo">Bid Price</label>
      <div ng-bind="vm.item.bidPrice"></div>
    <div>
      <a href="/items/{{ vm.item._id }}/bid" class="button">
        <input type="submit" value="Place Bid"/>
      </a>
    </div>
    <label class="itemLabel" for="itemPageInfo">Buy Price</label>
      <div ng-bind="vm.item.buyPrice"></div>
    <div>
      <a href="/items/{{ vm.item._id }}/buy" class="button">
        <input type="submit" value="Buy It Now"/>
      </a>
    </div>
</section>
