<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>Chat Example</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.friends" ui-sref="me.user({userId: user._id})" class="list-group-item">
        <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
        <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
        <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>
  <!-- The message form -->
  <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="vm.sendMessage();">
    <fieldset class="row">

        <div class="input-group">
            <input type="text" id="userText" name="userText" class="form-control" ng-model="vm.recieverId" placeholder="Enter username of recipient" autofocus>
          </div>

      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="Enter new message" autofocus>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!vm.messageText.length">Submit</button>
        </span>
      </div>


    </fieldset>
  </form>
  <ul class="list-unstyled">
    <!-- List all messages -->
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in vm.messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="/{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>
</section>
