.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'serif';
}

.nav {
    background-color: darkslategrey;
    box-shadow: 0 8px 6px -6px darkslategrey;
    color: ffffff;
    list-style: none;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0;

}

.nav > li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}


.nava {
    background-color: darkslategrey;
    box-shadow: 0 8px 6px -6px darkslategrey;
    list-style: none;
    text-align: left;
    padding: 20px 5px 20px 5px;
}

.nav > li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
}

.nav > li > a:hover {
    color: #c1c1c1;
}


.logo {
    width: 90px;
    height: 40px;
    padding: 0px;
    display: center;
}

.logo2 {
    width: 47px;
    height: 47px;
    padding: 0px;
    display: inline-block;
}


.bulk {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}

.home {
    background-color: white;
    color: white;
}

h1 {
    padding: 5px 10px 5px 10px;
}
.welcome {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
}

.side-bar {
    float: left;
    max-width: 300px;
    overflow: hidden;
    margin-top: 51px;
    border-right: 1px solid darkslategray;
}

.foot {
    background-color: darkslategrey;
    position: fixed;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 6px -6px darkslategrey;
}

p {
    padding: 2.5px 10px 2.5px 10px;
}

body {
    margin-bottom:30px;
}


.page {
  margin-top: 100px;
}